apiVersion: v1
kind: Service
metadata:
  name: starterapp-nodeport
  labels:
    app: starterapp
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
  selector:
    app: starterapp