name: Build and Publish starterapp

on:
  pull_request:
    branches: main
  push:
    branches: main
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USER }}/starterapp
  APP_DIR: starterapp

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v5

  - name: Set up JDK 21
    uses: actions/setup-java@v3
    with:
      java-version: '21'
      distribution: 'temurin'
      cache: maven

  - name: Build with Maven
    working-directory: ${{ env.APP_DIR }}
    run: mvn -B -DskipTests clean package 

  - name: Upload JAR artifact
    uses: actions/upload-artifact@v6
    with:
      name: spring-boot-jar
      path: ${{ env.APP_DIR }}/target/*.jar

  - name: Set up Buildx
    uses: docker/setup-buildx-action@v2

  - name: Build Docker image
    uses: docker/build-push-action@v4
    with:
      context: ${{ env.APP_DIR }}
      file: ${{ env.APP_DIR }}/Dockerfile
      push: false
      load: true
      tags: |
        ${{ env.IMAGE_NAME }}:${{ github.sha }}
        ${{ env.IMAGE_NAME }}:latest

  - name: Scan image with Trivy
    uses: aquasecurity/trivy-action@0.33.1
    with:
      image-ref: ${{ env.IMAGE_NAME }}:${{ github.sha }}
      exit-code: '0'            # change to '0' if you want NOT to fail the build
      severity: 'CRITICAL,HIGH' # change to desired level
      format: 'table'

  - name: Log in to Docker Hub
    if: github.event_name != 'pull_request'
    uses: docker/login-action@v2
    with:
      registry: docker.io
      username: ${{ secrets.DOCKER_USER }}
      password: ${{ secrets.DOCKER_PW }}

  - name: Push Docker image to Docker Hub
    if: github.event_name != 'pull_request'
    uses: docker/build-push-action@v4
    with:
      context: ${{ env.APP_DIR }}
      file: ${{ env.APP_DIR }}/Dockerfile
      push: true
      tags: |
        ${{ env.IMAGE_NAME }}:${{ github.sha }}
        ${{ env.IMAGE_NAME }}:latest